body {
  color: #fff;
  background: rgb(34, 44, 120);
}

.tic-tac-toe__row:not(:last-child) {
  border-bottom: 0.5rem solid #ccc;
}

.tic-tac-toe__col:not(:last-child) {
  border-right: 0.5rem solid #ccc;
}

.square-button {
  all: unset;
  display: block;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 5rem;
  transition: all ease-in 5s;
}
